<!DOCTYPE html>
<html lang="en">

<head>

  

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  {% block script %} 

 {% endblock %}
</head>
<body>


<div class="container-fluid">
  <div class="row">

  	{% block top %}  {% endblock %}
  		
  </div>

  <div class="row">
  	<div class = 'col-sm-2'>  </div>
    <div class = 'col-sm-8'> {% block goto %}  {% endblock %} </div>
  	<div class = 'col-sm-2'>  </div>
  </div>

  <div class="row">
    <div class = 'col-sm-2'>  </div>
    <div class = 'col-sm-8'> {% block take %}  {% endblock %} </div>
    <div class = 'col-sm-2'> </div>
  </div>


  <div class="row">
    <div class = 'col-sm-2'>  </div>
    <div class = 'col-sm-8'> {% block placeto %}  {% endblock %} </div>
    <div class = 'col-sm-2'> </div>
  </div>


    <div class="row">
    <div class = 'col-sm-2'>  </div>
    <div class = 'col-sm-8'> {% block use %}  {% endblock %} </div>
    <div class = 'col-sm-2'> </div>
  </div>

    <div class="row">
    <div class = 'col-sm-2'>  </div>
    <div class = 'col-sm-8'> {% block open %}  {% endblock %} </div>
    <div class = 'col-sm-2'> </div>
  </div>

    <div class="row">
    <div class = 'col-sm-2'>  </div>
    <div class = 'col-sm-8'> {% block head %}  {% endblock %} </div>
    <div class = 'col-sm-2'> </div>
  </div>


    <div class="row">

  		{% block bot %}  {% endblock %}
  		
  	</div>
</div>

</body>


</html>